<h1> Lunattic </h1> 
<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Conteudo</th>
      <th>Preco</th>
      <th>Url</th>
      <!-- A  ideia era colocar  <PORCENTO= image_tag @produto.url.url('300x300') PORCENTO>, mas não consigo adaptar o url ao img src=""   -->
      <!--< image_tag @produto.url.url('300x300') > -->
      <th>Estoque</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<!-- Client.where("orders_count = '2'") -->

  <tbody>
    <% @produtos.each do |produto| %>
    <% if produto.estoque  == true  %>
      <tr>
        <td><%= produto.titulo %></td>
        <td><%= produto.conteudo %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.url %></td>
        <td><img src="<%= produto.url %>"></td>
        <!--   NAO CONSEGUI ASSIM TMB <td><PORCENTO= image_tag produto.url('300x300') PORCENTO> </td>   -->
        <!-- Ian, eu consegui, sou p1k4 :D -->
        <td><%= produto.estoque %></td>
        <td><%= link_to 'Show', produto %></td>
        <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
        <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
       <% end %> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>
